<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet">
    </head>
    <body>
        <div class="content-wrapper">
            <h1>Go</h1>
            <%= content %>
        </div>
    </body>
</html>
